# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
task-board/node_modules

# Production build
dist
task-board/dist
dist-ssr
*.local

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
